<% include partials/header %>

<h1>home page</h1>

<img src="https://www.google.com/search?q=google+images&rlz=1C5CHFA_enUS785US785&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi3oaeVg5jcAhVLxlQKHWJlCigQ_AUICigB&biw=1680&bih=869#imgrc=N4gcsTLxCXMRuM:" alt="placeholder">
<% include partials/footer%>
